body {
  background: #000;
  color: #fff;
  font-size: 1.4rem;
  @extend .lato;
  -webkit-overflow-scrolling: touch;
}

#wrapper {
  display: flex;
  flex-direction: column;
  &>*:not(.header) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

h1,
h2,
h3 {
  @extend .domaine;
  margin-top: 0;
}

.content-container {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  &:not(:first-of-type) {
    padding-top: 0;
  }
}