@import "./nav-icon";
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  color: $lightColor;
  font-size: 1.2rem;
  z-index: 51;
  font-weight: bold;
  height: $headerHeight;
  -webkit-transition: color $transitionTime $transitionEase;
  transition: color $transitionTime $transitionEase;
  .menu-button-container {
    width: 75px;
    position: fixed;
    cursor: pointer;
    z-index: 51;
    text-align: right;
    right: 30px;
    top: 15px;
    &:hover {
      color: #fff;
    }
    &.active {
      color: #000;
      &:hover {
        color: #000;
      }
    }
  }
  .logo-link {
    position: fixed;
    // z-index: 52;
    left: 30px;
    top: 15px;
    display: block;
    width: 25px;
  }
  .logo {
    width: 100%;
    path {
      fill: #666666;
      -webkit-transition: fill $transitionTime $transitionEase;
      transition: fill $transitionTime $transitionEase;
    }
    &:hover {
      path {
        fill: #fff;
      }
    }
  }
  .strapline {
    margin: 26px 0;
    position: fixed;
    // z-index: 51;
    left: 0;
    right: 0;
    width: 240px;
    left: 50%;
    margin-left: -120px;
  }
  &.active {
    color: $lightColor;
    .menu-button-container {
      &:hover {
        color: $lightColor;
      }
    }
  }
}
