@import "./nav-icon";
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  color: $lightColor;
  font-size: 1.2rem;
  z-index: 11;
  .menu-container {
    width: 130px;
    position: fixed;
    cursor: pointer;
    z-index: 9999;
    transition: color $transitionTime $transitionEase;
    &:hover {
      color: #fff;
    }
    &.active {
      color: #000;
      &:hover {
        color: #000;
      }
    }
    .menu-text {
      position: absolute;
      top: 11px;
      left: 0px;
    }
  }
  .logo {
    width: 20px;
    position: fixed;
    z-index: 9999;
    path {
      fill: $lightColor;
      transition: fill $transitionTime $transitionEase;
    }
    &:hover {
      path {
        fill: #fff;
      }
    }
    &.active {
      path {
        fill: #000;
      }
      &:hover {
        path {
          fill: #000;
        }
      }
    }
  }
  .strapline {
    margin: 10px 0 0;
  }
}