#project {
  &>div {
    position: relative;
    z-index: 2;
    background-color: #fff;
    color: #000;
    flex: 1 1 100%;
  }

  .image-slider .image-container:not(:first-child){
    display: none;
  }
 
  .hero.has-image {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-color: #000;
    top: 0;
    z-index: 1;
    flex-basis: 100%;
  }
}

@media screen and (min-width:768px) {
  #project {
    &>div:nth-child(2),
    &>div:nth-child(3) {
      margin-top: 100vh;
    }
    .half-width {
      flex-basis: 50%;
    }
    .hero.has-image {
      position: fixed;
    }
  }
}