#project {
  .slick-slide {
    height: auto;
  }
  &>div {
    position: relative;
    z-index: 2;
    background-color: #fff;
    color: #000;
    flex: 1 1 100%;
  }
  .image-slider-container {
    overflow: hidden;
  }
  .image-roll-container {
    display: flex;
    justify-content: center;
    align-items: center;
    >div {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .quote-container {
    padding: 80px;
    text-align: center;
    font-size: 2.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .quote-text {
      @extend .domaine;
    }
    .quote-source {
      margin: 0;
      text-transform: uppercase;
      font-size: 1.3rem;
    }
  }
  .a {
    background: lighten(purple, 35%);
  }
  .b {
    background: lighten(blue, 25%);
  }
  .c {
    background: lighten(green, 15%);
  }
  .columned {
    display: flex;
    flex-flow: column wrap;
    border: 1px solid;
    background: #CCC;
    margin: 1em 0;
    height: 800px;
  }
  .columned div {
    flex: 1 1 auto;
    border: 1px solid;
    width: 50%;
  }
  .columned div:first-child {
    flex-basis: 100%;
  }
  .one-side-tall-container {
    padding: 0;
    .one-side-tall {
      display: block;
      float: left;
      width: 100%;
      .content {
        padding: 80px;
      }
      >div {
        width: 50%;
        float: left;
        position: relative;
        &.tall {}
        &.others {
          background: #f0f0f0;
        }
        .half-width {
          height: 50%;
          img {
            position: absolute;
            bottom: 0;
            width: 100%;
          }
        }
      }
    }
  }
  .hero.has-image {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-color: #000;
    top: 0;
    z-index: 1;
    flex-basis: 100%;
  }
  .prev-next-links-container {
    display: flex;
    padding-top:40px;
    &>div {
      display: block;
      flex: 1 1 50%;
      display: flex;
      justify-content: flex-start;
      &.next {
        justify-content: flex-end;
      }
    }
    a {
      @extend .domaine;
      font-size: 11px;
      color: #000;
      padding: 10px 30px 10px 60px;
      display: block;
      position: relative;
      &.next-link,
      &.prev-link {
        span {
          position: absolute;
          top: 6px;
        }
      }
      &.next-link {
        text-align: right;
        padding-left:30px;
        padding-right:60px;
        span {
          right:40px;
          top: 4px;
        }
      }
      &.prev-link {
        span {
          left: 40px;
        }
      }
    }
    span svg {
      width: 10px;
      height: auto;
      top: 2px
    }
  }
}

@media screen and (min-width:768px) {
  #project {
    &>div:nth-child(2),
    &>div:nth-child(3) {
      margin-top: 0;
    }
    .half-width {
      flex-basis: 50%;
    }
    .hero.has-image {
      position: relative;
    }
    .prev-next-links-container {
      a {
        font-size: 20px;
        &.next-link,
        &.prev-link {
          span {
            top: 16px;
          }
        }
        &.next-link {
          span {
            top: 14px;
          }
        }
      }
    }
  }
}