#project {
  .slick-slide{
    height:auto;
  }
  &>div {
    position: relative;
    z-index: 2;
    background-color: #fff;
    color: #000;
    flex: 1 1 100%;
  }
  .image-slider-container {
    overflow: hidden;
  }
  .quote-container {
    padding: 10px;
    text-align: center;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .quote-container {
      @extend .domaine;
    }
    .quote-source {
      font-size: 1.4rem;
    }
  }
  .hero.has-image {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-color: #000;
    top: 0;
    z-index: 1;
    flex-basis: 100%;
  }
  .prev-next-links-container {
    display: flex;
    &>div {
      display: block;
      flex: 1 1 50%;
      display: flex;
      justify-content: flex-start;
      &.next{
        justify-content: flex-end;
      }
    }
    a {
      @extend .domaine;
      font-size: 20px;
      color: #000;
      padding: 10px;
      &.next-link {
        text-align: right;
        span {
          padding-left: 5px
        }
      }
      &.prev-link {
        span {
          padding-right: 5px
        }
      }
    }
    span svg {
      width: 6px;
      height: auto;
      position: relative;
      top: 2px;
    }
  }
}

@media screen and (min-width:768px) {
  #project {
    &>div:nth-child(2),
    &>div:nth-child(3) {
      margin-top: 0;
    }
    .half-width {
      flex-basis: 50%;
    }
    .hero.has-image {
      position: relative;
    }
  }
}
